*{
    padding: 0%;
    margin: 0%;
}
.about{
    background-image: url(../../../background/img/2.svg);
    height: 100%;
    position: relative;
    color: aliceblue;
} 
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading h1{
    font-size: 3rem;
    padding: 2rem;
    
}
.abt-cnt{
    display: flex;
    justify-content: center;
    padding: 4rem;
    gap: 2rem;
    flex-wrap: wrap;
    color: aliceblue;
}
.ani3{
    width: 25%;
    top: -12%;
    left: 16%;
    position: absolute;
}
/* .abt-ani{
    display: flex;
    justify-content: center;
    align-items: center;
} */

@media only screen and (max-width: 768px) {
    .ani3{
        display: none;
    }
    .heading h1{
        font-size: 2rem; /* Decrease font size for smaller screens */
    }
    
    .abt-cnt{
        padding: 1rem; /* Reduce padding for smaller screens */
    }
}